<div class="card">
  <div class="card-header">Upload a file</div>
  <div class="card-block">
    <%= form_for :cms_file, url: url_for(action: 'create'), method: 'POST', multipart: true do |f| %>
      <div class="form-group">
        <%= f.file_field :file, class: 'form-control-file' %>
      </div>
      <%= f.submit "Upload", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>